@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';

@font-face {
  font-family: "pricedown";
  src: url("./public/pricedown.otf");
}

@font-face {
  font-family: "hell";
  src: url("./public/font/HelveticaNowDisplay-Regular.woff") format("woff");
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "pricedown";
}

